.main{
  height:70vh;
  width: 68vw;
  display: flex;
  flex-direction:row;
}
.name{
  height:70vh;
  width: 20vw;
  border-radius: 5%;
  background-color: white;
  margin-right: 2vw;
}
.details{
  height: 70vh;
  width:46vw;
  border-radius: 5%;
  background-color: white;
}
